<!-- <h1>Welcome to The Green Room!</h1> -->


<div class="welcome">
<h1 class="display"> The Green Room </h1>
</div>


<div class="instructions">
  <p>Search for Artists &#8226; Add albums to your favorites &#8226; See album details</p>
</div>

<div class="imgPlaceholder">

</div>

<div class="about">
  <h4 class="aboutText"> About Us </h4>
  <p class="aboutText">The Green Room was created by Maria Astudillo, C. Tavis Post, and Lucia Franco in the Software Engineering Immersive course at General Assembly. After being paired together and discussing potential projects, it was clear that the three of us could all agree on one thing: Music. From there, The Green Room was born.</p>
</div>